.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

nav {
  display: flex;
}
.nav-title {
  font-size: 42px;
  font-weight: 800;
}
.text-primary {
  color: #fd6e0a;
}
